@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div >
        <div class="row">
            <div class="col-6">
                <a id="manage" class="btn  btn-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </div>
            <div class="col-6">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn  btn-dark">Logout</button>
                </form>
            </div>
            </div>
   </div>

        }
        else
        {
        <div >
            <div class="row">
                <div class="col-6">
                    <a class="btn  btn-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>

                </div>
                <div class="col-6">
                    <a class="btn  btn-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>

            </div>
        </div>


        }
