@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron" style=" height:100vh;background-size:cover;background-image:url('/Content/images/articles.jpg')">
        <h1 class="display-4" style="color:#ffffff; font-weight:bolder">Articles and Reviews by authors </h1>
        <p style="color:#ffffff; font-weight:bolder" class="lead">Get reviews for uploaded articles</p>
        <hr class="my-4">
       
        <p class="lead">
            <a class="btn btn-primary ci-lg" href="/Articles" role="button">View Articles</a>
        </p>
    </div>
